 body { 
    font-family: sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background: #f9f9f9; 
}
.case { 
    width: 90%; 
    background: rgb(241, 235, 214); 
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case h1 { 
    margin: 2rem; 
}

.p {
    margin-left: 5%;
    margin-right: 5%;
}

.strafboek {
    background-color: white;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strafboek a {
    margin-bottom: 2rem;
}