<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/default.css">
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="case">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <div class="strafboek">
        <h1>{{ page.strafboek_title }}</h1>
        <p>{{ page.strafboek_description }}</p>
        <a href="{{page.strafboek_perma_link}}" target="_blank" rel="noopener noreferrer">{{ page.strafboek_title }}</a>
    </div>
  </div>
  
</body>
</html>